<nav>
  <div class="navbar">
    <div class="navbar__logo">P4P1</div>
    <div class="navbar__menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <ul class="navbar__links">
      <li><a href="index.html">Accueil</a></li>
      <li><a href="propos.html">A propos</a></li>
      <li><a href="#">#Se connecter#</a></li>
    </ul>
  </div>

  <ul class="navbar__links--mobile">
    <li><a href="index.html">Accueil</a></li>
    <li><a href="propos.html">A propos</a></li>
    <li><a href="#">#Se connecter#</a></li>
  </ul>
</nav>
