<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gulp Playground</title>
    <link rel="stylesheet" href="{{ cssPath }}main.css?cb=123">
    <script src="{{ jsPath }}main.js?cb=123" defer></script>
  </head>
  <body class="container">
    {% include "partials/_navbar.njk" %}
    {% block content %} {% endblock %}
    {% include "partials/_footer.njk" %}
  </body>
</html>
