{% extends "base.njk" %}

{% block content %}
  <main>
    <h1>This is the about page</h1>
    <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, in totam explicabo hic reiciendis magnam earum expedita ipsa laboriosam dolore?</p>
  </main>
{% endblock %}
