// Color Palette
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

// Breakpoints sizes
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1300px
) !default;

// Other variables
$nav-height: 50px;
